/* 





Global Styles



*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
}

body {
  background: rgb(100, 99, 231);
  background: linear-gradient(
    0deg,
    rgba(100, 99, 231, 1) 0%,
    rgba(176, 104, 233, 1) 100%
  );
  height: 100vh;
}

p {
  font-size: 12px;
}

/* 



FAQ Card



*/

#faq-card {
  background: white;
  background-image: url(./images/bg-pattern-desktop.svg);
  background-repeat: no-repeat;
  background-size: 67%;
  background-position: -275px 30px;
  max-width: 920px;
  height: auto;
  border-radius: 23px;
  margin: 7rem auto;
  display: flex;
  align-items: center;
  padding: 3rem 0;
  position: relative;
  box-shadow: 0px 50px 50px -20px rgba(53, 18, 122, 0.497159);
}

.faq-img {
  overflow: hidden;
}

.faq-img img {
  width: 472px;
  transform: translateX(-95px);
}

img.box-img {
  position: absolute;
  width: 150px;
  left: 3%;
  top: 44%;
}

.faq-text {
  padding: 2rem;
}

h2 {
  margin-bottom: 1.3rem;
}

.question {
  font-size: 14px;
  font-weight: 700;
  padding-bottom: 1rem;
  position: relative;
}

.question::after {
  content: "";
  position: absolute;
  cursor: pointer;
  background-image: url(./images/icon-arrow-down.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 12px;
  height: 8px;
  top: 5px;
  right: 90px;
}

.answer {
  padding-right: 2rem;
}

.question-divider {
  background-color: #e8e8ea;
  margin-top: 10px;
  margin: 20px 0;
  height: 2px;
  width: 85%;
}
